.body {
  margin: 0em;
}

.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  overflow-y: auto;
  z-index: 0;
  background-color: #58a0de;
}

.page:target {
  left: 0vw;
  z-index: 1;
}

.content {
  width: 350px;
  margin: 20px auto 20px auto;
  font-size: 2.5rem;
  color: white;
}

img {
  width: 100%;
}

.img {
  width: 350px;
  margin: auto;
}